# JWT secret
JWT_SECRET=dev-secret-change-me

# PostgreSQL user
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Databases pass
AUTH_DB_PASSWORD=auth
APPLICANT_DB_PASSWORD=applicant
EMPLOYER_DB_PASSWORD=employer
VACANCY_DB_PASSWORD=vacancy

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
